* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  border: 0;
  outline: 0;
  padding: 10px 20px;
}

label {
  visibility: hidden;
  position: absolute;
}

body {
  font-family: "Poppins", sans-serif;
  color: #c1c0d7;
  min-height: 100vh;
  height: 100%;
  font-size: 16px;
  letter-spacing: 1px;
  background: #22262f;
  display: grid;
  place-items: center;
}

body > * {
  flex: 1;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 15px;
  display: flex;
  justify-content: space-between;
}

.weather-container {
  flex: 1;
  margin-left: 50px;
  position: relative;
}

.title-and-general {
  color: #9997f8;
}

.title-and-general a {
  color: #9997f8;
}

.api {
  position: absolute;
  top: -35px;
  right: 0;
  color: #9997f8;
}

.api a {
  color: #9997f8;
}

h1 {
  color: #9997f8;
  text-shadow: 0px 0px 20px rgba(153, 151, 248, 0.15);
  font-size: 64px;
  font-weight: 800;
  max-width: 400px;
  margin-left: auto;
}

form {
  width: 100%;
  display: flex;
}

input[type="search"] {
  background: #313641;
  border-radius: 30px;
  width: 100%;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
}

input:focus {
  outline: 2px solid #9997f8;
}

input::placeholder {
  color: #c1c0d7;
}

input[type="submit"] {
  background: #9997f8;
  box-shadow: 0px 0px 20px rgba(153, 151, 248, 0.2);
  border-radius: 0px 5px 5px 0px;
  padding: 15px 40px;
  font-weight: 800;
  color: #313c41;
  cursor: pointer;
  border-radius: 30px;
  margin-left: 20px;
}

.change-city {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #313641 0%, #262a34 100%);
  border-radius: 30px;
  padding: 40px;
  margin-top: 30px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-weight: 800;
  font-size: 24px;
  display: inline;
}

.hour {
  font-weight: 400;
  color: #313641;
  color: #787791;
}

.temperature {
  text-align: center;
}

.sunny-cloudy {
  margin: 30px auto;
  display: block;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  padding: 5px 40px 15px 40px;
  border-radius: 10px;
  background: #22262f;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}

.sunny-cloudy span {
  text-transform: capitalize;
  color: #9997f8;
}

img {
  width: 90px;
  display: block;
  margin: 10px auto;
}

.real-temp {
  font-weight: 800;
  font-size: 48px;
}
.temp {
  font-weight: 800;
  font-size: 72px;
  margin-right: 20px;
}

.feel-like {
  color: #787791;
}

.feel-like-temp {
  font-weight: 800;
  font-size: 18px;
  color: #c1c0d7;
  margin-left: 10px;
}

.min,
.max {
  color: #787791;
}

.min-max {
  display: flex;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  margin: 40px auto 0 auto;
}

.min-temp,
.max-temp {
  display: block;
  font-size: 18px;
  font-weight: 800;
  color: #c1c0d7;
}

.max {
  margin-left: 10px;
}

.max::before {
  content: "";
  width: 1px;
  height: 10px;
  background: #949b9b;
  display: inline-block;
  margin-right: 10px;
}

.infos-weather {
  position: relative;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
  margin-top: 50px;
  text-align: center;
  align-content: center;
  display: grid;
  grid-template-columns: 150px 150px;
  grid-gap: 40px;
  justify-content: center;
}

.infos-weather span {
  font-weight: 800;
  font-size: 18px;
}

h3 {
  color: #787791;
  font-size: 16px;
  font-weight: 400;
  max-width: 150px;
  margin: 0 auto;
}

.infos-weather::before {
  content: "";
  width: 100px;
  height: 5px;
  border-radius: 30px;
  background: #9997f8;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: block;
  position: absolute;
}

@media all and (max-width: 910px) {
  .container {
    flex-direction: column;
  }
  .title-and-general {
    text-align: center;
    margin: 0 auto;
  }
  h1 {
    font-size: 48px;
    margin: 20px auto;
  }
  .title-and-general p + p {
    margin-top: 30px;
  }
  .weather-container {
    margin: 100px auto 0 auto;
    max-width: 500px;
    width: 100%;
  }
  .infos-weather {
    grid-template-columns: auto;
  }
}

@media all and (max-width: 470px) {
  form {
    flex-direction: column;
    gap: 30px;
  }

  .api {
    left: 0;
    right: 0;
    text-align: center;
  }

  input[type="search"] {
    padding: 15px 40px;
  }

  input[type="submit"] {
    border-radius: 30px;
    margin-left: 0;
  }
  .change-city {
    padding: 40px 20px;
  }
}
